# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python tooling
.pytest_cache/
.mypy_cache/

# CIFAR-10 dataset
data/
